## Using Pandas to Get Familiar With Your Data

* pandas 는 데이터 과학자들이 데이터를 처리하기 위해 사용하는 툴(라이브러리). pd라고 줄여 씀

In [2]:
import pandas as pd

* pandas에서 가장 중요한 파트는 **DataFrame**
* DataFrame은 엑셀 시트와 비슷한 **table** 데이터를 담음

In [7]:
## https://www.kaggle.com/dansbecker/melbourne-housing-snapshot
melbourne_file_path = '../input/melb_data.csv'
## read the data and store data in DataFrame
melbourne_data = pd.read_csv(melbourne_file_path)
## print a summary of the data
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

## Interpreting Data Description

* count: 값이 모두 들어있는 행의 수
    * Bedroom2 컬럼의 경우, 화장실이 1개만 있는 집이면 값이 없음(실제 csv 파일에서는 비어있으나 위에서는 0으로 출력됨)
* mean: 컬럼의 평균값
* std: 컬럼의 표준편차

컬럼을 오름차순 정렬했을 때,
* min: 첫번째 값(제일 작은 값)
* 25/50/75%: (정렬된 컬럼의 전체 개수에서)20/50/75% 위치의 값(데이터가 100개면 25/50/75번째)
* max: 마지막 값(제일 큰 값)